@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
box-sizing: border-box;
}

body{
margin: 0;
font-family: poppins, Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 400;
color: #666666;
background: #eaeff4;
}

.wrapperx1{
margin: 0 auto;
width: 100%;
max-width: 1140px;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.containerx1{
position: relative;
width: 100%;
max-width: 600px;
height: auto;
display: flex;
background: #fffefe;
box-shadow: 0 0 5px #700505;
}



.loginx1 .col-leftx1,
.loginx1 .col-rightx1{
padding: 30px;
display: flex;
}


.loginx1 .col-leftx1{
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0 );
    background: #c8405b;
    }

    .loginx1 .col-rightx1{
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
    }
    
    
    @media(max-width: 575px){
        .loginx1 .containerx1{
        flex-direction: column;
        box-shadow: none;
        }
        .loginx1 .col-leftx1,
        .loginx1 .col-rightx1{
        width: 100%;
        margin: 0;
        clip-path: none;
        }
        .loginx1 .col-rightx1{
        padding: 30px;
        }
        
        }

        
        .loginx1 .login-textx1{
        position: relative;
        width: 100%;
        color: #ffffff;
        }

        .loginx1 .login-textx1 h2{
        margin: 0 0 15px 0;
        font-size: 30px;
        font-weight: 700;
        }

        .loginx1 .login-textx1 p{
        margin: 0 0 20px 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        }
        
        .loginx1 .login-textx1 .btnx1{
        display: inline-block;
        font-family: poppins;
        padding: 7px 20px;
        font-size: 16px;
        letter-spacing: 1px;
        text-decoration: none;
        border-radius: 30px;
        color: #ffffff;
        outline: none;
        border: 1px solid #ffffff;
        box-shadow: inset 0 0 0 0 #ffffff;
        transition: .3s;
        }
        
        .loginx1 .login-textx1 .btnx1:hover{
        color: #2aa199;
        box-shadow: inset 150px 0 0 0 #ffffff;
        }
        
        .loginx1 .login-formx1{
        position: relative;
        width: 100%;
        }
        .loginx1 .login-formx1 h2{
        margin: 0 0 15px 0;
        font-size: 22px;
        font-weight: 700;
        }
        .loginx1 .login-formx1 p{
        margin: 0 0 10px 0;
        text-align: left;
        color: #666666;
        font-size: 15px;
        }
        .loginx1 .login-formx1 p:last-child{
        margin: 0;
        padding-top: 3px;
        }
        .loginx1 .login-formx1 p a{
        color: #2aa15f;
        font-size: 14px;
        text-decoration: none;
        }
        .loginx1 .login-formx1 label {
        display: block;
        width: 100%;
        margin-bottom: 2px;
        letter-spacing: .5px;
        }
        .loginx1 .login-formx1 p:last-child label{
        width: 60%;
        float: left;
        }
        .loginx1 .login-formx1 label span{
        color: #ff574e;
        padding-left: 2px;
        }
        .loginx1 .login-formx1 input{
        display: block;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        outline: none;
        border: 1px solid #cccccc;
        border-radius: 30px;
        }
        .loginx1 .login-formx1 input:focus{
        border-color: #ff574e;
        }
        .loginx1 .login-formx1 button,
        .loginx1 .login-formx1 input[type=submit] {
        display: inline-block;
        width: 100%;
        margin-top: 5px;
        color: #2aa15f;
        font-size: 16px;
        letter-spacing: 1px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #2aa15f;
        border-radius: 30px;
        box-shadow: inset 0 0 0 0 #2aa15f;
        transition: .3s;
        }
        .loginx1 .login-formx1 button:hover,
        .loginx1 .login-formx1 input[type=submit]:hover{
        color: #ffffff;
        box-shadow: inset 250px 0 0 0 #2aa15f;
        }